---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
    class="[&>p]:mb-4 [&>p>strong]:text-orange-600 dark:[&>p>strong]:text-orange-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Desde el año <strong>2017</strong>, impulsados por el liderazgo de <strong>Kevin Andrés Moran Castillo</strong>, surgimos como una iniciativa social en el municipio de <strong>Armenia, Quindío</strong>, con el propósito de fortalecer y visibilizar la identidad cultural de la comunidad <strong>NARP</strong> (Negra, Afrodescendiente, Raizal y Palenquera).
      </p>

      <p>
        Nuestro trabajo nace del deseo de <strong>recuperar el legado ancestral, el arte, la cultura y la historia</strong> de nuestras comunidades, especialmente aquellas que han llegado al territorio cuyabro debido al <strong>desplazamiento forzado</strong>.
      </p>

      <p>
        A través de procesos <strong>culturales, educativos y artísticos</strong>, promovemos espacios de formación y expresión para <strong>niños, niñas y jóvenes afro</strong>, rescatando nuestras raíces mediante la música, la danza y actividades pedagógicas.
      </p>

      <p>
        Desde <strong>desfiles culturales</strong> hasta <strong>jornadas de sensibilización y bienestar comunitario</strong>, trabajamos por la <strong>unión, el empoderamiento y el reconocimiento</strong> de nuestra población.
      </p>

      <p>
        Hoy seguimos siendo un grupo de <strong>jóvenes comprometidos con el cambio</strong>, con sueños colectivos y metas claras en pro del desarrollo de la comunidad <strong>NARP</strong> en el Quindío.
      </p>
    </div>

  <img width="200" height="200" src="/group.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
